*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* li:first-child {
    color: red;
}

li:first-of-type{
    color: rgb(102, 12, 102);
}

p:first-of-type{
    color: aqua;
}

h1:first-of-type{
    color: darkgreen;
}

li:last-of-type{
    color: fuchsia;
} */

/* .dividendo:not(a) {
    color: yellow;
} */

li:nth-child(2) {
    color: coral;
}

li:nth-last-child(1) {
    color: blueviolet;
}